/* CUSTOM CLASSES */
.cookieConsentNotice__border {
  border: 1px solid #e6e6e6 !important;
}

.cookieConsentNotice__left {
  left: 15px;
}

.cookieConsentNotice__right {
  right: 15px;
}

.cookieConsentNotice__show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

/* COMMON STYLES */
/* ========================= */
.cookieConsentNotice__banner {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: auto;
  max-width: 425px;
  z-index: 999;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.2);
  transition: transform .2s ease, opacity .2s ease !important;
}

.cookieConsentNotice__banner .accept__btn__styles {
  border: none;
  padding: 13px 15px;
  font-size: 15px;
  font-family: inherit;
  width: 49%;
  cursor: pointer;
  font-weight: bolder;
  transition: filter 0.15s;
  user-select: none;
}

.cookieConsentNotice__banner .settings__btn__styles {
  border: none;
  padding: 13px 15px;
  font-family: inherit;
  font-size: 15px;
  width: 49%;
  cursor: pointer;
  font-weight: bolder;
  transition: filter 0.15s;
  user-select: none;
}

.cookieConsentNotice__banner .btn__section button:focus {
  outline: none;
  transform: scale(0.95);
  /*-webkit-filter: contrast(75%);
  filter: contrast(75%);*/
  -webkit-filter: brightness(78%);
  filter: brightness(78%);
}

.cookieConsentNotice__banner .btn__section button:hover {
 /* -webkit-filter: contrast(85%);
  filter: contrast(85%);*/
  -webkit-filter: brightness(88%);
  filter: brightness(88%);
}

@media (max-width: 455px) {
  .btn__section .btn__accept {
    width: 100%;
    margin-bottom: 7px;
  }

  .btn__section .btn__settings {
      width: 100%;
  }
}

/* BASIC BANNER STYLE */
/* ========================= */
.cookieConsentNotice__banner__basic {
  bottom: 15px;
  border-radius: 5px;
  padding: 25px 35px;
}

.cookieConsentNotice__banner__basic > h3 {
  font-size: 24px;
  margin: 0px;
  padding: 8px 0;
}

.cookieConsentNotice__banner__basic > p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
  line-height: 1.3;
}

.cookieConsentNotice__banner__basic .read__more {
  font-weight: bolder;
}

.cookieConsentNotice__banner__basic .read__more:hover {
  opacity: 0.8;
}

.cookieConsentNotice__banner__basic .btn__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 20px;
}

.cookieConsentNotice__banner__basic .btn__section button {
  border-radius: 5px;
}

@media (max-width: 455px) {
  .cookieConsentNotice__banner__basic {
      bottom: 0px;
      left: 0px;
      right: 0px;
      border-radius: 0px;
      border: 0px;
      max-width: 550px;
  }

  .cookieConsentNotice__banner__basic .btn__section {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 20px;
  }
}


/* Prebanner styles */
/* =========================== */
.prebanner {
  position: fixed;
  bottom: 15px;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 15px;
  font-weight: bolder;
  line-height: normal;
  border: none;
  padding: 12px 18px;
  text-decoration: none;
  user-select: none;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  -moz-box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
  box-shadow: 0 .625em 1.875em rgba(2,2,3,.1);
}

.prebanner__border__1 {
  border-radius: 15px;
}

.prebanner__border__2 {
  border-radius: 10px;
}

.prebanner__border__3 {
  border-radius: 2px;
}

.animation {
  transition: .2s;
}

.animation:hover {
  transform: scale(.97);
}

.prebanner:hover {
  text-decoration: none;
}

