/* Material Design Font, self-hosted */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(MaterialIcons-Regular.woff2) format('woff2'),
    url(MaterialIcons-Regular.woff) format('woff'),
    url(MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  padding-right: 12px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/* Banner config classes */
.cookieConsentNotice__border {
  border: 1px solid #e6e6e6 !important;
}

.cookieConsentNotice__left {
  left: 14px;
}

.cookieConsentNotice__right {
  right: 14px;
}

.cookieConsentNotice__show {
  opacity: 1 !important;
  visibility: visible !important;
  transform: scale(1) !important;
}

/*  Banner styles */
/* ========================= */
.cookieConsentNotice__banner {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.9);
  font-family: inherit;
  position: fixed;
  width: auto;
  bottom: 10px;
  border-radius: 5px;
  padding: 12px 14px;
  max-width: 425px;
  z-index: 999;
  line-height: 1.3;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .2);
  -moz-box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .2);
  box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .2);
  transition: transform .2s ease, opacity .2s ease !important;
}

.cookieConsentNotice__banner>h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 2px;
}

.cookieConsentNotice__banner>p {
  font-size: 15px;
}

.cookieConsentNotice__banner .read__more {
  font-weight: bolder;
}

.cookieConsentNotice__banner .read__more:hover {
  text-decoration: underline;
}

.cookieConsentNotice__banner .btn__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.cookieConsentNotice__banner .btn__section button {
  border-radius: 4px;
}

.cookieConsentNotice__banner .accept__btn__styles {
  border: none;
  padding: 10px;
  font-size: 20px;
  font-family: inherit;
  width: 100%;
  margin-bottom: 2px;
  cursor: pointer;
  font-weight: 500;
  transition: filter 0.15s;
  user-select: none;
}

.cookieConsentNotice__banner .decline__btn__styles {
  border: none;
  padding: 10px;
  font-family: inherit;
  font-size: 20px;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  transition: filter 0.15s;
  user-select: none;
}

.cookieConsentNotice__banner .btn__section button:focus {
  outline: none;
  transform: scale(0.95);
  -webkit-filter: contrast(75%);
  filter: contrast(75%);
}

.cookieConsentNotice__banner .btn__section button:hover {
  -webkit-filter: contrast(85%);
  filter: contrast(85%);
}

.cookieConsentNotice__banner .icon__section {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 11px;
}

/* Icon list styles */
.cookieConsentNotice__banner .icon__list__container {
  width: 49%;
}

.cookieConsentNotice__banner .icon__list {
  list-style-type: none;
  margin: 0;
  padding: 5px 13px;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 4px 4px 0px 0px;
  font-family: inherit;
  font-weight: normal;
}

/* Icon list header */
.cookieConsentNotice__banner .icon__list .header {
  font-size: 15px;
  font-weight: bolder;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 0px 2px 4px 2px;
}

/* Icon list items */
.cookieConsentNotice__banner .icon__list li {
  padding: 3px 2px;
  font-size: 13px;
  font-weight: normal;
  color: #0a0a0a;
}

.cookieConsentNotice__banner .icon__list li span {
  vertical-align: middle;
}

.cookieConsentNotice__banner .for__list {
  /*list-style-type: none;*/
  margin: 0;
  padding: 4px 13px;
  border-left: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: #ECF7FE;
  border-radius: 0px 0px 4px 4px;
  font-family: inherit;
  font-weight: normal;
}

/* For list header */
.cookieConsentNotice__banner .for__list .header {
  font-size: 15px;
  font-weight: bolder;
  color: #4a4a4a;
  text-transform: uppercase;
  padding: 0px 2px 2px 2px;
}

/* Icon list items */
.cookieConsentNotice__banner .for__list li {
  padding: 5px 2px;
  font-size: 13px;
  font-weight: normal;
  color: #0a0a0a;
}

.cookieConsentNotice__banner .for__list li span {
  vertical-align: middle;
}

/* BreakPoint for mobile */
@media (max-width: 455px) {

  .material-icons {
    font-size: 22px;
  }

  .cookieConsentNotice__banner {
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 10px 8px;
    max-width: 425px;
    line-height: 1.1;
    border-radius: 1px;
    border: 1px;
    max-width: 400px;
  }
  
  .cookieConsentNotice__banner>h3 {
  font-size: 21px;
  margin-bottom: 6px;
}

  .cookieConsentNotice__banner>p {
    font-size: 14px;
  }

  .cookieConsentNotice__banner .icon__list {
  padding: 5px 8px;
}

.cookieConsentNotice__banner .for__list {
  padding: 4px 8px;
}
  
  .cookieConsentNotice__banner .btn__section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 11px;
  }

  .btn__section .btn__accept {
    width: 100%;
  }

  .btn__section .btn__decline {
    width: 100%;
  }

}

/* Prebanner styles */
/* =========================== */
.prebanner {
  position: fixed;
  bottom: 15px;
  z-index: 999;
  min-height: 50px;
  min-width: 125px;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  border: none;
  border-radius: 15px;
  padding: 10px 16px;
  text-decoration: none;
  user-select: none;
  -webkit-box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .1);
  -moz-box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .1);
  box-shadow: 0 .625em 1.875em rgba(2, 2, 3, .1);
}

.animation {
  transition: .2s;
}

.animation:hover {
  transform: scale(.97);
}

.prebanner:hover {
  text-decoration: none;
}