{% extends "layout.html" %}
{% from "macros/pagination.html" import render_pagination %}
{% block title %}Holiday Spots{% endblock %}
{% block body %}

<h1>Holiday Spots</h1>

<div class="columns columns is-multiline is-tablet"">
<div class=" column is-one-third">

  {% for post in this.pagination.items %}

  <a href="{{ post|url }}" class="has-text-weight-bold is-size-5">{{ post.title }}</a>
  <p>{{ post.summary }}
    <a class="more" href="{{ post|url }}">Read more ...</a></p>

  {% set image = post.attachments.images.first() %}
  {% if image %}

  <figure>
    <a href="{{ post|url }}"><img src="{{ image.thumbnail(300)|url }}" alt="Photo of {{ post.title }}"></a>
  </figure>

  {% endif %}
  {% endfor %}


</div>
</div>

{% if this.pagination.pages > 1 %}
{{ render_pagination(this.pagination) }}
{% endif %}

{% endblock %}